<div class='ajax' title='Ajax'>REQUEST</div>
<div class='updated' title='Updated'>UPDATED</div>
<div class='behind' title='Behind'>BEHIND</div>
<div class='admin' title='Admin'>ADMIN</div>
<div class='unlogged' title='Unlogged'>UNLOGGED</div>
<div class='logged' title='Logged'>LOGGED</div>
<div class='mobile' title='Mobile'>MOBILE</div>
<div class='fullscreen' title='Fullscreen'>FULLSCREEN</div>
<div class='desktop' title='Desktop'>DESKTOP</div>
<div class='tablet' title='Tablet'>TABLET</div>
<div class='fork' title='Fork'>FORK</div>
<div class='online' title='Online'>ONLINE</div>
<div class='offline' title='Offline'>OFFLINE</div>
<div class='debug' title='Debug'>DEBUG</div>
<div class='blur' title='Blur'>BLUR</div>
<div class='focus' title='Focus'>FOCUS</div>
<div class='scrolled' title='Scrolled'>SCROLLED</div>
<div class='unscrolled' title='Unscrolled'>UNSCROLLED</div>