// SIZE
.fs
  font-size: $font-size
.fs-mid
  font-size: $font-size-mid
.fs-small
  font-size: $font-size-small
.fs-smaller
  font-size: $font-size-smaller
.fs-up
  font-size: $font-size-up

// FAMILY
.ff-arial
  font-family: $font-family-arial
.ff-system-ui
  font-family: system-ui
.ff-monospace
  font-family: monospace
.ff-1234567
  font-family: '7segment' !important
.ff-micro
  font-family: 'MicrogrammaMedium' !important
.ff-micro-bold
  font-family: 'MicrogrammaBold' !important

// WEIGHT
.fwn
  font-weight: normal
.fw9
  font-weight: 900

// TRANSFORM
.uppercase
  text-transform: uppercase
.capitalize
  text-transform: capitalize

.inherit
  font-family: inherit
  font-size: inherit
  line-height: inherit

// Font-faces
@font-face
  font-family: "7segment"
  src: url("fonts/7segment.ttf") format("truetype")
  font-weight: normal
  font-style: normal
@font-face
  font-family: "MicrogrammaBold"
  src: url("fonts/MicrogrammaEFExtendBold.ttf") format("truetype")
  font-weight: normal
  font-style: normal
@font-face
  font-family: "MicrogrammaMedium"
  src: url("fonts/MicrogrammaEFExtendMedium.ttf") format("truetype")
  font-weight: normal
  font-style: normal