// SPACING
.mz
  margin: 0
.pz
  padding: 0
.mpz
  @extend .mz, .pz

// DISPLAY
.block
  display: block
.display-table
  display: table
.dib
  display: inline-block
.hidden
  display: none
.flex
  display: flex
  justify-content: space-between
.fg1
  flex-grow: 1
// Has Gap 1
.columns
  @extend .flex
  flex-direction: column
  flex-wrap: wrap
  gap: 1em
  div
    flex-grow: 1
.pf
  position: fixed
.ps
  position: sticky
.wrapper
  margin: 0 auto
  padding: 1.2em 1.5em
  max-width: var(--wrapper-max-width)

.no-appearance
  appearance: none
  -webkit-appearance: none
.menulist
  appearance: menulist
  -webkit-appearance: menulist

// CURSOR
.pointer
  cursor: pointer