// SCREEN
@each $screen in $screens
  html.#{$screen}
    $index: index(($screens), $screen)
    --nav-side-width: #{nth($nav-side-width, $index)}
    --popover-max-width: #{nth($popover-max-width, $index)}
    --wrapper-max-width: #{nth($wrapper-max-width, $index)}