.highlighter-rouge .hll { background-color: #4f424c }
// .highlighter-rouge  { background: #2f1e2e; color: #e7e9db }
.highlighter-rouge .c { color: #776e71 } /* Comment */
.highlighter-rouge .err { color: #ef6155 } /* Error */
.highlighter-rouge .k { color: #815ba4 } /* Keyword */
.highlighter-rouge .l { color: #f99b15 } /* Literal */
.highlighter-rouge .n { color: #e7e9db } /* Name */
.highlighter-rouge .o { color: #5bc4bf } /* Operator */
.highlighter-rouge .p { color: hsl(69, 64%, 70%) } /* Punctuation */
.highlighter-rouge .ch { color: #776e71 } /* Comment.Hashbang */
.highlighter-rouge .cm { color: #776e71 } /* Comment.Multiline */
.highlighter-rouge .cp { color: #776e71 } /* Comment.Preproc */
.highlighter-rouge .cpf { color: #776e71 } /* Comment.PreprocFile */
.highlighter-rouge .c1 { color: #776e71 } /* Comment.Single */
.highlighter-rouge .cs { color: #776e71 } /* Comment.Special */
.highlighter-rouge .gd { color: #ef6155 } /* Generic.Deleted */
.highlighter-rouge .gt { color: hsl(5, 43%, 64%) } /* Generic.Deleted */
.highlighter-rouge .ge { font-style: italic } /* Generic.Emph */
.highlighter-rouge .gh { color: hsl(69, 85%, 83%); font-weight: bold } /* Generic.Heading */
.highlighter-rouge .gi { color: #48b685 } /* Generic.Inserted */
.highlighter-rouge .gp { color: #776e71; font-weight: bold } /* Generic.Prompt */
.highlighter-rouge .gs { font-weight: bold } /* Generic.Strong */
.highlighter-rouge .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
.highlighter-rouge .kc { color: #815ba4 } /* Keyword.Constant */
.highlighter-rouge .kd { color: #815ba4 } /* Keyword.Declaration */
.highlighter-rouge .kn { color: #5bc4bf } /* Keyword.Namespace */
.highlighter-rouge .kp { color: #815ba4 } /* Keyword.Pseudo */
.highlighter-rouge .kr { color: #815ba4 } /* Keyword.Reserved */
.highlighter-rouge .kt { color: #fec418 } /* Keyword.Type */
.highlighter-rouge .ld { color: #48b685 } /* Literal.Date */
.highlighter-rouge .m { color: #f99b15 } /* Literal.Number */
.highlighter-rouge .s { color: #48b685 } /* Literal.String */
.highlighter-rouge .na { color: #06b6ef } /* Name.Attribute */
.highlighter-rouge .nb { color: #e7e9db } /* Name.Builtin */
.highlighter-rouge .nc { color: #fec418 } /* Name.Class */
.highlighter-rouge .no { color: #ef6155 } /* Name.Constant */
.highlighter-rouge .nd { color: #5bc4bf } /* Name.Decorator */
.highlighter-rouge .ni { color: #e7e9db } /* Name.Entity */
.highlighter-rouge .ne { color: #ef6155 } /* Name.Exception */
.highlighter-rouge .nf { color: #06b6ef } /* Name.Function */
.highlighter-rouge .nl { color: #e7e9db } /* Name.Label */
.highlighter-rouge .nn { color: #fec418 } /* Name.Namespace */
.highlighter-rouge .nx { color: #06b6ef } /* Name.Other */
.highlighter-rouge .py { color: #e7e9db } /* Name.Property */
.highlighter-rouge .nt { color: #5bc4bf } /* Name.Tag */
.highlighter-rouge .nv { color: #ef6155 } /* Name.Variable */
.highlighter-rouge .ow { color: #5bc4bf } /* Operator.Word */
.highlighter-rouge .w { color: #e7e9db } /* Text.Whitespace */
.highlighter-rouge .mb { color: #f99b15 } /* Literal.Number.Bin */
.highlighter-rouge .mf { color: #f99b15 } /* Literal.Number.Float */
.highlighter-rouge .mh { color: #f99b15 } /* Literal.Number.Hex */
.highlighter-rouge .mi { color: #f99b15 } /* Literal.Number.Integer */
.highlighter-rouge .mo { color: #f99b15 } /* Literal.Number.Oct */
.highlighter-rouge .sa { color: #48b685 } /* Literal.String.Affix */
.highlighter-rouge .sb { color: #48b685 } /* Literal.String.Backtick */
.highlighter-rouge .sc { color: #e7e9db } /* Literal.String.Char */
.highlighter-rouge .dl { color: #48b685 } /* Literal.String.Delimiter */
.highlighter-rouge .sd { color: #776e71 } /* Literal.String.Doc */
.highlighter-rouge .s2 { color: #48b685 } /* Literal.String.Double */
.highlighter-rouge .se { color: #f99b15 } /* Literal.String.Escape */
.highlighter-rouge .sh { color: #48b685 } /* Literal.String.Heredoc */
.highlighter-rouge .si { color: #f99b15 } /* Literal.String.Interpol */
.highlighter-rouge .sx { color: #48b685 } /* Literal.String.Other */
.highlighter-rouge .sr { color: #48b685 } /* Literal.String.Regex */
.highlighter-rouge .s1 { color: #48b685 } /* Literal.String.Single */
.highlighter-rouge .ss { color: #48b685 } /* Literal.String.Symbol */
.highlighter-rouge .bp { color: #e7e9db } /* Name.Builtin.Pseudo */
.highlighter-rouge .fm { color: #06b6ef } /* Name.Function.Magic */
.highlighter-rouge .vc { color: #ef6155 } /* Name.Variable.Class */
.highlighter-rouge .vg { color: #ef6155 } /* Name.Variable.Global */
.highlighter-rouge .vi { color: #ef6155 } /* Name.Variable.Instance */
.highlighter-rouge .vm { color: #ef6155 } /* Name.Variable.Magic */
.highlighter-rouge .il { color: #f99b15 } /* Literal.Number.Integer.Long */