.font-family
  font-family: $font-family-arial
.font-size
  font-size: $font-size
// Refer to _sass/fonts.sass
.ff-segment7
  font-family: '7segment' !important
.ff-micro
  font-family: 'MicrogrammaMedium' !important
.ff-micro-bold
  font-family: 'MicrogrammaBold' !important
.ff-lekton
  font-family: 'Lekton' !important
  // padding-block: 7px 2px !important
.ff-lekton-bold
  font-family: 'LektonBold' !important
.ff-lekton-italic
  font-family: 'LektonItalic' !important
.uppercase
  text-transform: uppercase
.capitalize
  text-transform: capitalize
h1, h2, h3
  font-weight: normal