$shades: ('black': hsl(0, 0%,  4%), subtle: hsl(0, 0%, 10%), dim: hsl(0, 0%, 48%), 'white': hsl(0, 0%, 90%)) !default

$colors: ('blu': hsl(210, 58%, 30%), 'red': hsl(340, 60%, 30%), 'ora': hsl(20, 60%, 30%), 'sky': hsl(226, 57%, 37%), 'cya': hsl(190, 57%, 37%), 'for': hsl(173, 60%, 20%), 'pin': hsl(315, 34%, 34%), 'vio': hsl(260, 36%, 34%), 'gre': hsl(129, 25%, 35%), 'yel': hsl(45, 65%, 30%), 'gry': hsl(0, 0%, 30%)) !default
$link: dodgerblue

// Fonts
$font-family: system-ui !default
$font-family-arial: Arial, system-ui !default
$font-size: 20px !default
$font-size-small: 96% !default
$font-size-smaller: 90% !default