button, .button
  // Reset button appearance
  @extend .no-appearance, .pointer
  background: transparent
  outline: none
  text-decoration: none !important

  // Style
  @extend .bg, .fg-dim, .mz, .inherit, .border, .border-radius-big
  border-width: 1px
  border-left-width: 5px !important
  padding: .5em .7em

  &[data-eye]
    @extend .no-border
    // padding-inline: 0

  &[aria-selected='true']
    color: var(--fg) !important
    border-color: var(--gry)

  // HOVER
  &:not([disabled])
    &:hover, &:focus
      @extend .bg-dark, .fg

  // FOCUS
  &:not([disabled]):focus
    opacity: .6

  // DISABLED
  &[disabled], &.disabled
    cursor: default