tt, code, kbd, samp, td.number
  // Font
  @extend .ff-monospace, .fs-mid
  // Style
  margin: -1px
  padding: 1px 4px
  // Dont break words
  word-break: keep-all

td
  tt, code, code.highlighter-rouge, kbd, samp
    @extend .mpz, .fg-mid, .no-border, .bg-trasp
  &.number
    @extend .mpz, .fg-mid

// INLINE
code.highlighter-rouge
  color: var(--yel-light)
  @extend .bg-gry-dark, .border-radius-big

// BLOCKS
// Fenced, kramdown, indented:
// div.highlighter-rouge > div.highlight > pre.highlight > code
// liquid:
// figure.highlight > pre > code
div.highlighter-rouge
  @extend .mpz, .display-table, .border, .border-radius-big
  padding: .4em .6em

.columns div div.highlighter-rouge
  @extend .block

[class*='highlight']
  pre
    @extend .mz
    white-space: pre-wrap
    line-height: 1
    letter-spacing: -0.2px
    code
      @extend .mpz, .fs-small, .no-border
      background: transparent !important