footer
  position: relative
  @extend .bg, .border-top
  & > div
    @extend .wrapper, .flex, .fg-mid, .fs-mid
    nav
      &:first-child
        @extend .flex
        gap: 1em
      &:last-child
        text-align: right