header
  @extend .bg, .border-bottom, .ps
  z-index: 10
  top: 0
  & > div
    @extend .flex, .wrapper
    height: var(--header-height)
    align-items: center
    padding-block: 0
  img.logo
    width: 2em
    margin-inline: .5em .7em