html
  overflow-y: scroll
  scroll-behavior: smooth

  // Navigation Main Sticky
  scroll-padding-top: 7em

  // Request
  &.ajax #branding
    opacity: .6

  // Toc sticky
  &:has(#content .toc)
    scroll-padding-top: 9em

  // HIDE SAME-NAME STATES
  // NEGATION
  &:not(.unlogged) .unlogged, &:not(.logged) .logged,
  &.online .offline, &:not(.online) .online,
  &:not(.behind) .behind, &:not(.updated) .updated,
  &.focus .blur, &:not(.focus) .focus,
  &:not(.scrolled) .scrolled, &.shorter .scrolled,
  &.scrolled .unscrolled, &.shorter .unscrolled,
  &:not(.ajax) .ajax,
  &:not(.fullscreen) .fullscreen,
  &:not(.desktop) .desktop,
  &:not(.tablet) .tablet,
  &:not(.mobile) .mobile,
  &:not(.debug) .debug,
  &.fullscreen .not-fullscreen,
  &.desktop .not-desktop,
  &.tablet .not-tablet,
  &.mobile .not-mobile,
  &.shorter [href='#top'],
  body:not([data-github-fork='true']) .fork,
  body:not([data-github-fork='false']) .unfork,
  body:not([data-github-environment='development']) .development,
  body:not([data-github-environment='production']) .production,
  body[data-github-remote-theme=''] .remote-theme,
  .only-child:not(:only-child)
    @extend .hidden

  // Invisibility
  &:not(.logged) .guest,
  &:not(.logged) .admin,
  &:not(.admin) .admin,
  &:not(.guest) .guest
    visibility: hidden