a, a:visited, .link
  @extend .pointer, .fg-link
  text-decoration: none
  outline: none
  &:focus
    opacity: .6
  // Footnotes arrows
  &[role="doc-backlink"]:hover,
  &.link-hover-fg:hover
    @extend .fg
  &.link-hover-underline:hover
    text-decoration: underline

