a, a:visited, .link
  color: var(--mid)
  cursor: pointer
  text-decoration: none
  outline: none
  &[aria-current='page'], .active
    color: var(--link)
    border-color: var(--subtle) !important
  &:hover, &:focus
    color: var(--fg)
  &:active
    color: var(--mid) !important