main #nav-side + #content
  position: relative
  @extend .border-left
  margin-left: 14em

main #content
  padding: 1.5em
  // Typography
  p
    @extend .fg-mid
  & >
    h1, h2, h3
      &:first-child
        margin-top: 0

  // LINKS
  a, a:visited, .link
    text-decoration: underline