nav
  a, a:visited, .link
    @extend .link-nav

.link-nav
  @extend .fg-dim, .link-hover-fg
  &[aria-current='page']
    @extend .fg-link-current, .link-hover-fg

// TOP NAVIGATION
#nav-top, #nav-meta
  @extend .flex
  gap: .2em
  align-items: center
  > a
    @extend .uppercase
    padding: .5em
#nav-top
  @extend .fg1
  justify-content: flex-start

// SIDE NAVIGATION
#nav-side
  @extend .fs-mid, .ps
  min-width: var(--nav-side-width)
  top: calc(var(--header-height) + 1px)
  bottom: 0
  padding: 1em 0
  align-self: self-start
  overflow: hidden auto
  overscroll-behavior: none
  scrollbar-gutter: stable
  #nav-side-container
    @extend .flex
    flex-direction: column
    justify-content: flex-start
    gap: .3em

  // links
  a, details summary
    display: block
    padding: .3em .5em
    @extend .border-radius-big, .mz

  // Details
  details
    @extend .mz
    &:has([aria-current='page']) summary
      color: var(--fg) !important
    summary
      margin-bottom: .3em
      @extend .capitalize
      &:hover::after
        color: var(--fg)
      &::after
        right: 0
    a
      margin-bottom: .3em
      margin-left: .5em
      &[data-day]::after
        content: attr(data-day)
        float: right
        @extend .fs-smaller, .fg-gry