.pagination
  @extend .flex, .fs-small, .fg-dim
  margin-top: 2em
  padding-block: 1em
  // LINKS
  a
    @extend .button
    &::before,
    &::after
      @extend .fs-up
      font-weight: normal
    &[rel='next']::before
      content: "\2039"
      margin-right: .3em
    &[rel='prev']
      border-inline-width: 1px 5px !important
      &::after
        content: "\203a"
        margin-left: .3em