// Toast popover
\:popover-open,
.popover
  @extend .bg, .border, .border-radius-big, .fs-mid, .link-hover-underline
  border-width: 2px
  max-width: var(--popover-max-width)
  max-height: 85vh
  cursor: default
  padding: 1em
  // For tall popover
  &.top
    margin-block: 1em
  &.bottom
    margin-bottom: 1em
  // Links
  a, a:visited, .link
    &:not([data-popclose])
      @extend .link-hover-underline
  // &:hover
  //   @extend .border
  //   border-width: 2px
  &::backdrop
    @extend .bg-subtle
  table
    min-width: 40ch
  p
    @extend .fg-mid
  [role='tabpanel']
    @extend .no-border
  // Attach top screen
  &#meta
    margin-top: 1.2em
  // Form on popover
  form
    padding-right: 1em

// SPECIAL popover
#add-field-popover
  overflow-y: scroll
#add-field-popover, #info
  @extend .top
#status
  @extend .bottom

// POPOVER CLOSE
a[data-popclose]
  @extend .link-hover-fg
  position: absolute
  top: .3em
  right: .3em
  width: 1.1em
  height: 1.1em
  text-align: center
  border-radius: 50%
  padding: .3em
  z-index: 1000
  & + *
    margin-top: 0