// RADIO TYPE
.radio-container
  @extend .flex
  flex-direction: column
  gap: .2em
  // & + .description
  //   @extend .fs-smaller, .fg-dim
  //   padding-inline: .2em

input[type='radio'],
input[type='checkbox']
  display: none
  & + label[itemscope]
    @extend .button, .dib
    min-width: 3em
    line-height: 1.2
    [itemprop='name']::after
      content: '\00a0'
    [itemprop='descriptions']
      @extend .fs-smaller, .fg-dim
      padding-inline: .2em
      white-space: break-spaces
  &:checked + label[itemscope]
    @extend .bc-white, .fg
    [itemprop='name']::after
      content: 'TRUE'
    .descriptions
      color: var(--fg)
  &:not(:checked) + label
    color: var(--fg-dim)
  &:not(:checked):hover + label
    color: var(--fg)