.icon
  // Aside icons
  svg
    fill: var(--dim)
    width: 1.1em
    height: 1.1em
    vertical-align: bottom

.pagination
  .icon[rel='prev'] svg
    margin-right: .2em
  .icon[rel='next'] svg
    margin-left: .2em