// #top collide with page top link
#topper
  @extend .flex
  padding: .7em
  flex-direction: column
  gap: .5em
  position: fixed
  z-index: 100
  left: 50%
  transform: translateX(-50%)
  .popover
    @extend .pointer, .bc-white
    padding: .5em .7em
    &:hover
      opacity: .6