<!DOCTYPE html>
{%- include page/init.html -%}
<html class='' lang='{{ language }}' dir='{{ direction }}'>
{%- include page/head.html -%}
<!--
  -->
<body
  onload='bootstrap()'
  onresize='resize()'
  ononline='online()'
  onoffline='offline()'
  onhashchange='onhashchange()'
  onfocus='focus()'
  onblur='blur()'
  class='{{ page.class | append: " " | append: collection.class | strip }}'>
<div id='topper'></div>
{%- include page/header.html -%}
{%- include page/main.html -%}
{%- include page/footer.html -%}
{%- include page/bottom.html -%}
<div id='sotte'></div>
</body>
</html>